@font-face {
    font-family: "intersemibold";
    src: url("./font.ttf");
}

body {
    margin-left: auto;
    margin-right: auto;
    font-family: "intersemibold", system-ui, sans-serif, ui-sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-overflow-style: none;
    background-color: #FFFFFF;
    text-align: center;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-weight: normal;
    margin-top: 0px;
}

h2 {
    font-weight: normal;

}

html {
    scrollbar-width: none;
}

.centerdiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}